@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Asap";
}

.custom-dialog>.p-dialog-mask {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

::placeholder {
  font-size: 13px;
}

.btnHover:hover {
  cursor: pointer;
}

.p-dialog-header-icon {
  margin: 20px 20px 0px !important;
}

.blogImage {
  overflow: hidden;
  border-radius: 8px;
  position: relative;
}

.blogImage img {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.blogImage img:hover {
  transform: scale(1.05);
}

.img {
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translate(-0%, -50%);
}

/* .blogImage {
  border: 1px solid #ddd;
} */

/* .blogImage {
  background-image: url('/Images/bgg1.png');
} */

.cardWidth {
  width: 100%;
  max-height: 360px;
}

.cardWidth {
  width: 31.3%;
}

.cardWidths {
  width: 33.3%;
}

.cardWidth {
  width: 31.3%;
}

.menuBar {
  display: flex;
}

.hover:hover {
  cursor: pointer;
}

.bannerImageMob {
  display: none;
}

.forMob {
  display: none;
}

.custom-dialog {
  width: 35vw;
}

.InvestorTextSize {
  font-size: 60px;
}

.fontSize {
  font-size: 50px;
}

.footerHeading {
  font-size: 20px;
}

/* .acmeGroupCard:nth-child(1) {
  margin-top: 20px;
}

.acmeGroupCard:nth-child(2) {
  margin-top: 20px;
} */

.sectionTitle {
  font-size: 22px;
}

.blogpostText {
  font-size: 16px;
}

.contentWrapper h2 {
  font-size: 55px;
}

.layoutWidth {
  width: 76%;
}

.cardWidth {
  width: 26%;
}

.visionTitle {
  display: none;
}

@media(max-width: 767px) {

  .menuBar,
  .visionTitle,
  .blogButton {
    display: none;
  }

  .footerHeading {
    font-size: 16px;
  }

  .layoutWidth {
    width: 100%;
  }

  .cardWidths {
    width: 100%;
    padding: 20px;
  }

  .sliderWidth {
    width: 100%;
  }

  .fontSize {
    font-size: 30px;
  }

  .sectionTitle {
    font-size: 16px;
  }

  .textSize {
    font-size: 13px;
  }

  .contentWrapper h2 {
    font-size: 32px;
  }

  .btn-width {
    font-size: 8px;
  }

  .custom-dialog {
    width: 100%;
    margin: 0px 20px;
  }

  .forMob {
    display: block;
  }

  .forDes {
    display: none;
  }

  .cardWidth {
    width: 100%;
    max-height: unset;
  }

  .footerLogo {
    margin: auto;
  }

  .bannerImageMob {
    display: block;
  }

  .bannerImage {
    display: none;
  }
}